@import "~cube-ui/src/common/stylus/variable.styl"

/**
 * 全局变量
 * 命名规范：xs < sm < md < lg < xl < xxl
 */

//  常用颜色
$c-white = #fff
$c-red =  rgba(240,0,0,1)
$bgc-aside = #f3f5f7
$bgc-header-xs = rgba(7, 17, 27, 0.2)
$bgc-header-sm = rgba(7, 17, 27, 0.5)
$bgc-header-md = rgba(7, 17, 27, 0.8)
$bgc-header-xl = rgba(7, 17, 27, 1)

// 常用间距
$space-xxl = 24px;
$space-xl = 20px;
$space-lg = 16px;
$space-md = 14px;
$space-sm = 8px;
$space-xs = 6px;

// 常用字体
$font-xxl = 20px;
$font-xl = 18px;
$font-lg = 16px;
$font-md = 14px;
$font-sm = 12px;
$font-xs = 10px;

//  常用圆角
$radius-xs = 2px
$radius-sm = 4px
$radius-md = 6px